# Virtuoso files /data/db
/data/db/*
!/data/db/toLoad
!/data/db/toLoad/*

docker-compose.override.yml
.env

# Migrations
config/migrations/*
!config/migrations/[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]-*
*sensitive*

# Files
/data/files/*

# Search
config/search/*.store
/data/elasticsearch/*