x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"
services:
  frontend:
    image: kanselarij/frontend-overlegcomite:1.8.2
    links:
      - identifier:backend
    logging: *default-logging
    restart: always
    labels:
      - "logging=true"
  identifier:
    image: semtech/mu-identifier:1.8.1
    logging: *default-logging
    restart: always
    labels:
      - "logging=true"
  dispatcher:
    image: semtech/mu-dispatcher:2.1.0-beta.1
    volumes:
      - ./config/dispatcher:/config
    logging: *default-logging
    restart: always
    labels:
      - "logging=true"
  login:
    image: kanselarij/acmidm-login-service:1.3.1
    environment:
      MU_APPLICATION_AUTH_ALLOW_NO_ROLE_CLAIM: "true"
      MU_APPLICATION_AUTH_DEFAULT_GROUP_URI: "http://data.kanselarij.vlaanderen.be/id/group/user"
      MU_APPLICATION_AUTH_USERID_CLAIM: "vo_id"
      DEBUG_LOG_TOKENSETS: "true"
      LOG_SINK_URL: "http://sink"
      MU_APPLICATION_AUTH_ROLE_CLAIM: "dkb_overlegcomite_rol_3d"
      MU_APPLICATION_RESOURCE_BASE_URI: "http://kanselarij.vo.data.gift/"
      REQUEST_TIMEOUT: 5000
      USER_GRAPH_URI: "http://mu.semte.ch/graphs/account-info"
    logging: *default-logging
    restart: always
    labels:
      - "logging=true"
  migration:
    image: semtech/mu-migrations-service:0.7.0
    volumes:
      - ./config/migrations:/data/migrations
    environment:
      MU_SPARQL_ENDPOINT: "http://triplestore:8890/sparql"
    logging: *default-logging
    restart: always
    labels:
      - "logging=true"
  database:
    image: semtech/mu-authorization:0.6.0-beta.5
    environment:
      MU_SPARQL_ENDPOINT: "http://triplestore:8890/sparql"
      LOG_OUTGOING_SPARQL_QUERIES: "true"
      INSPECT_OUTGOING_SPARQL_QUERIES: "false"
      LOG_INCOMING_SPARQL_QUERIES: "true"
      INSPECT_INCOMING_SPARQL_QUERIES: "false"
      LOG_ACCESS_RIGHTS: "false"
      INSPECT_ACCESS_RIGHTS_PROCESSING: "false"
      LOG_DELTA_MESSAGES: "false"
      LOG_DELTA_CLIENT_COMMUNICATION: "false"
      LOG_TEMPLATE_MATCHER_PERFORMANCE: "false"
      DATABASE_COMPATIBILITY: "Virtuoso"
    volumes:
      - ./config/authorization:/config
    logging: *default-logging
    restart: always
    labels:
      - "logging=true"
  triplestore:
    image: tenforce/virtuoso:1.3.2-virtuoso7.2.5.1
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/application"
    volumes:
      - ./data/db:/data
      - ./config/db/virtuoso.ini:/data/virtuoso.ini
    logging: *default-logging
    restart: always
    labels:
      - "logging=true"
  resource:
    image: semtech/mu-cl-resources:1.19.0
    environment:
      CACHE_CLEAR_PATH: "http://cache/.mu/clear-keys"
    volumes:
      - ./config/resources:/config
    logging: *default-logging
    restart: always
    labels:
      - "logging=true"
  file:
    image: semtech/mu-file-service:3.1.2
    volumes:
      - ./data/files:/share
    logging: *default-logging
    restart: always
    labels:
      - "logging=true"
  range-file:
    image: mikidi/js-file-service:0.1.0
    volumes:
      - ./data/files:/share
    logging: *default-logging
    restart: always
    labels:
      - "logging=true"
  search:
    image: semtech/mu-search:0.6.3
    environment:
      MU_SPARQL_ENDPOINT: "http://database:8890/sparql"
      JRUBY_OPTIONS: "-J-Xmx12g" # overwrite for development
      NUMBER_OF_THREADS: "6"
      LOG_LEVEL: "info"
    volumes:
      - ./config/search:/config
      - ./data/files:/data
    logging: *default-logging
    restart: always
    labels:
      - "logging=true"
  elasticsearch:
    image: semtech/mu-search-elastic-backend:1.0.1
    environment:
      - cluster.initial_master_nodes=elasticsearch
      - node.name=elasticsearch
    volumes:
      - ./data/elasticsearch/:/usr/share/elasticsearch/data
    logging: *default-logging
    restart: always
    labels:
      - "logging=true"
  deltanotifier:
    image: semtech/mu-delta-notifier:0.1.0
    volumes:
        - ./config/delta:/config
    logging: *default-logging
    restart: always
    labels:
      - "logging=true"
  cache:
    image: semtech/mu-cache:2.0.1
    links:
      - resource:backend
    logging: *default-logging
    restart: always
    labels:
      - "logging=true"
  distribution:
    image: kanselarij/oc-distributor:0.2.2
    environment:
      LOG_SPARQL_ALL: "false"
      DEBUG_AUTH_HEADERS: "false"
    logging: *default-logging
    restart: always
    labels:
      - "logging=true"
  user-info-distribution:
    image: kanselarij/user-info-distributor:0.1.1
    logging: *default-logging
    restart: always
    labels:
      - "logging=true"
  sink:
    image: lblod/sink-service:1.0.0
    logging: *default-logging
    restart: always
    labels:
      - "logging=true"
